#include <dt-bindings/zmk/matrix_transform.h>

 / {
    chosen {
        zmk,kscan = &kscan0;
        /* Use physical layout instead of matrix transform */
        zmk,physical-layout = &echo_layout;
    };

    /* Define the physical layout for ZMK Studio */
    echo_layout: physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Echo Layout";
        /* Reference a transform node for key mapping */
        transform = <&default_transform>;

        /* The keys property should list phandles for each key */
        keys = <
            &key_0_0  &key_0_1  &key_0_2  &key_0_3  &key_0_4  &key_0_5
            &key_0_6  &key_0_7  &key_0_8  &key_0_9  &key_0_10 &key_0_11
            &key_1_0  &key_1_1  &key_1_2  &key_1_3  &key_1_4  &key_1_5
            &key_1_6  &key_1_7  &key_1_8  &key_1_9  &key_1_10 &key_1_11
            &key_2_0  &key_2_1  &key_2_2  &key_2_3  &key_2_4  &key_2_5
            &key_2_6  &key_2_7  &key_2_8  &key_2_9  &key_2_10 &key_2_11
            &key_3_0  &key_3_1  &key_3_2  &key_3_3  &key_3_4  &key_3_5
            &key_3_6  &key_3_7  &key_3_8  &key_3_9  &key_3_10 &key_3_11
            &key_4_4  &key_4_5
            &key_4_6  &key_4_7
        >;
    };

    /* Define the matrix transform node that the physical layout uses */
    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <12>;
        rows = <5>;
        map = <
            &key_0_0  &key_0_1  &key_0_2  &key_0_3  &key_0_4  &key_0_5       &key_0_6  &key_0_7  &key_0_8  &key_0_9  &key_0_10 &key_0_11
            &key_1_0  &key_1_1  &key_1_2  &key_1_3  &key_1_4  &key_1_5       &key_1_6  &key_1_7  &key_1_8  &key_1_9  &key_1_10 &key_1_11
            &key_2_0  &key_2_1  &key_2_2  &key_2_3  &key_2_4  &key_2_5       &key_2_6  &key_2_7  &key_2_8  &key_2_9  &key_2_10 &key_2_11
            &key_3_0  &key_3_1  &key_3_2  &key_3_3  &key_3_4  &key_3_5       &key_3_6  &key_3_7  &key_3_8  &key_3_9  &key_3_10 &key_3_11
                                         &key_4_4  &key_4_5       &key_4_6  &key_4_7
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "col2row";
        row-gpios = <&pro_micro 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
                   , <&pro_micro 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
                   , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
                   , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
                   , <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };
};
