/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "col2row";
        row-gpios
            = <&pro_micro 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

    physical_layout {
        compatible = "zmk,physical-layout";
        keys = 
            // Left half
            // Outer Column
            { x = 0,    y = 0,    row = 0, col = 0 }  // ESC
            { x = 0,    y = 19,   row = 1, col = 0 }  // TAB
            { x = 0,    y = 38,   row = 2, col = 0 }  // LALT
            { x = 0,    y = 57,   row = 3, col = 0 }  // LSHFT
            
            // Pinky Column
            { x = 19,   y = 0,    row = 0, col = 1 }  // 1
            { x = 19,   y = 19,   row = 1, col = 1 }  // Q
            { x = 19,   y = 38,   row = 2, col = 1 }  // A
            { x = 19,   y = 57,   row = 3, col = 1 }  // Z
            
            // Ring Column (8.5mm stagger)
            { x = 38,   y = 8.5,  row = 0, col = 2 }  // 2
            { x = 38,   y = 27.5, row = 1, col = 2 }  // W
            { x = 38,   y = 46.5, row = 2, col = 2 }  // S
            { x = 38,   y = 65.5, row = 3, col = 2 }  // X
            
            // Middle Column (8mm stagger)
            { x = 57,   y = 8,    row = 0, col = 3 }  // 3
            { x = 57,   y = 27,   row = 1, col = 3 }  // E
            { x = 57,   y = 46,   row = 2, col = 3 }  // D
            { x = 57,   y = 65,   row = 3, col = 3 }  // C
            
            // Index Column (-6.5mm stagger)
            { x = 76,   y = -6.5, row = 0, col = 4 }  // 4
            { x = 76,   y = 12.5, row = 1, col = 4 }  // R
            { x = 76,   y = 31.5, row = 2, col = 4 }  // F
            { x = 76,   y = 50.5, row = 3, col = 4 }  // V
            
            // Inner Column (-2mm stagger)
            { x = 95,   y = -2,   row = 0, col = 5 }  // 5
            { x = 95,   y = 17,   row = 1, col = 5 }  // T
            { x = 95,   y = 36,   row = 2, col = 5 }  // G
            { x = 95,   y = 55,   row = 3, col = 5 }  // B
            
            // Left Thumb cluster
            { x = 81,   y = 74,   row = 4, col = 4, r = -20 }  // SPACE
            { x = 100,  y = 74,   row = 4, col = 5 }  // LCTRL
            
            // Right half (mirrored)
            // Inner Column
            { x = 195,  y = -2,   row = 0, col = 6 }  // 6
            { x = 195,  y = 17,   row = 1, col = 6 }  // Y
            { x = 195,  y = 36,   row = 2, col = 6 }  // H
            { x = 195,  y = 55,   row = 3, col = 6 }  // N
            
            // Index Column (-6.5mm stagger mirrored)
            { x = 214,  y = -6.5, row = 0, col = 7 }  // 7
            { x = 214,  y = 12.5, row = 1, col = 7 }  // U
            { x = 214,  y = 31.5, row = 2, col = 7 }  // J
            { x = 214,  y = 50.5, row = 3, col = 7 }  // M
            
            // Middle Column (8mm stagger mirrored)
            { x = 233,  y = 8,    row = 0, col = 8 }  // 8
            { x = 233,  y = 27,   row = 1, col = 8 }  // I
            { x = 233,  y = 46,   row = 2, col = 8 }  // K
            { x = 233,  y = 65,   row = 3, col = 8 }  // COMMA
            
            // Ring Column (8.5mm stagger mirrored)
            { x = 252,  y = 8.5,  row = 0, col = 9 }  // 9
            { x = 252,  y = 27.5, row = 1, col = 9 }  // O
            { x = 252,  y = 46.5, row = 2, col = 9 }  // L
            { x = 252,  y = 65.5, row = 3, col = 9 }  // DOT
            
            // Pinky Column
            { x = 271,  y = 0,    row = 0, col = 10 }  // 0
            { x = 271,  y = 19,   row = 1, col = 10 }  // P
            { x = 271,  y = 38,   row = 2, col = 10 }  // SEMI
            { x = 271,  y = 57,   row = 3, col = 10 }  // FSLH
            
            // Outer Column
            { x = 290,  y = 0,    row = 0, col = 11 }  // BSPC
            { x = 290,  y = 19,   row = 1, col = 11 }  // BSLH
            { x = 290,  y = 38,   row = 2, col = 11 }  // RET
            { x = 290,  y = 57,   row = 3, col = 11 }  // RSHFT
            
            // Right Thumb cluster
            { x = 190,  y = 74,   row = 4, col = 6, r = 20 }  // MO1
            { x = 209,  y = 74,   row = 4, col = 7 }  // SPACE
        >;
    };
};